// ----------------------------
// -------  404 page  ---------
// ----------------------------

.errorShrug {
  font-size: 6rem;
  color: $green;
  text-shadow: $white -2px -2px 0, $med_gray 2px 2px 0;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(10deg);
  }
}
