// ----------------------------
// -----  FORM CONTROLS  ------
// ----------------------------

.btn {
  display: inline-block;
  padding: $small_spacing $med_spacing;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: $green;
  text-shadow: 0 1px 1px transparentize($white, 0.25);
  background-color: $checkered_bg_2;
  background-image: linear-gradient(to bottom, $white, $checkered_bg);
  background-repeat: repeat-x;
  border: 1px solid $light_gray;
  border-radius: $small_spacing;
  box-shadow: inset 0 1px 0 transparentize($white, 0.8), 0 1px 2px transparentize($black, 0.5);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: $dark_gray;
  background-color: $checkered_bg;
}

.btn:active,
.btn.active {
  background-color: $light_gray;
}

.btn:hover,
.btn:focus {
  color: $green;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted $dark_gray;
  outline: $small_spacing auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px transparentize($black, 0.85), 0 1px 2px transparentize($black, 0.5);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.btn > span {
  border-bottom: 2px solid $green;
}

.btnInvisible {
  width: 100%;
  border: none;
  text-align: left;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

.urlEntry {
  width: 320px;
  height: 33px;
  padding: 0 $small_spacing;
  border-radius: $small_spacing;
}

.halfHeight {
  width: 100%;
  padding: 2px $med_spacing;
  font-size: 0.75rem;
  line-height: 1.35;
}

input.error,
textarea.error {
  background-color: $error_red_bg;
}

.errorText {
  height: 20px;
  padding: 2px 0;
  color: $error_red_text;
  text-align: left;
  font-style: italic;
}
