// ----------------------------
// --------  COLORS  ----------
// ----------------------------

$white: #fff;
$light_gray: #bbb;
$med_gray: #555;
$dark_gray: #333;
$black: #000;
$light_blue: #9ed2f5;
$blue: #59b8f8;
$dark_blue: darken($blue, 15%);
$green: #33C350;
$checkered_bg: #e3e3e3;
$checkered_bg_2: #f5f5f5;
$error_red_bg: #ffbaba;
$error_red_text: #d8000c;


// ----------------------------
// ----  SIZES + TIMES  -------
// ----------------------------

$font_small: 13px;
$font_default: 16px;
$small_spacing: 5px;
$med_spacing: 10px;
$large_spacing: 15px;
$timing_short: .5s;


// ----------------------------
// -----  BASE ELEMENTS  ------
// ----------------------------

html.resizive {
    font-size: $font_default;
    line-height: $font_default + 5;
    font-family: Helvetica, Arial, sans-serif;
}

html.resizive body {
    min-height: 100vh;
    background-color: $checkered_bg_2;
    background-image:
        linear-gradient(
            45deg,
            $checkered_bg 25%,
            transparent 25%,
            transparent 75%,
            $checkered_bg 75%,
            $checkered_bg),
        linear-gradient(
            45deg,
            $checkered_bg 25%,
            transparent 25%,
            transparent 75%,
            $checkered_bg 75%,
            $checkered_bg);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

html.resizive ::selection {
    text-shadow: rgba($black, 0.5) 2px 2px 0;
    background: $dark_blue;
    color: $white;
}

html.resizive p {
    margin: 0;

    & + p {
        margin-top: $med_spacing;
    }
}

html.resizive a {
    color: $blue;
    text-decoration: none;
    transition: color $timing_short;

    &:hover {
        color: $dark_blue;
        text-decoration: underline;
        transition: color $timing_short;
    }
}

html.resizive abbr[title] {
    cursor: help;
}

html.resizive label {
    display: block;
    margin-top: $small_spacing;
}

html.resizive h2 {
    color: $green;
}

html.resizive code {
    font-family: Courier, monospace;
    color: $green;
}

// ----------------------------
// ----  COMMON CLASSES  ------
// ----------------------------

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearFix:before {
    content: ' ';
    display: table
}

.clearFix:after {
    clear: both
}

.center {
    text-align: center;
}

.fontSmall {
    font-size: 0.75rem;
    line-height: 1.35;
}

.fontLarge {
    font-size: 1.75rem;
}

.leftSpace {
    margin-left: $small_spacing;
}


// ----------------------------
// ---------  HEADER  ---------
// ----------------------------

html.resizive .header {
    box-shadow: rgba($dark_gray, .2) 0 2px 2px;
    background-image: linear-gradient(to bottom, $blue, $light_blue);
    height: 58px;
    padding: $small_spacing;
    border-bottom: 2px solid darken($blue, 5%);
}

html.resizive .titleContainer {
    display: inline-block;
    width: 210px;
    margin: $small_spacing;
    text-align: center;
}

html.resizive .siteTitle {
    text-shadow: rgba($blue, 0.5) 1px 1px 2px;
    transition: width 0.3s ease-out;
    position: relative;
    width: 150px;
    margin: 0 auto;
    padding-bottom: ($small_spacing * 1.5);
    border-bottom: 3px solid $white;
    font-size: 1.75rem;
    color: $white;
    cursor: pointer;

    a {
        color: $white;
    }
    &:hover {
        width: 190px;
    }
    a:hover {
        color: $white;
        text-decoration: none;
    }
}

html.resizive .siteTitle:after,
html.resizive .siteTitle:before {
    position: absolute;
    content: '';
    bottom: -10px;
    display: block;
    width: 0;
    height: 0;
}

html.resizive .siteTitle:after {
    right: -$med_spacing;
    border-top: $med_spacing solid transparent;
    border-bottom: $med_spacing solid transparent;
    border-left: $med_spacing solid $white;
}

html.resizive .siteTitle:before {
    left: -$med_spacing;
    border-top: $med_spacing solid transparent;
    border-bottom: $med_spacing solid transparent;
    border-right: $med_spacing solid $white;
}

html.resizive .dataEntry {
    display: inline-block;
    text-align: center;
}


// ----------------------------
// --------  FOOTER  ----------
// ----------------------------

html.resizive footer {
    max-width: 500px;
    margin: $font_default auto 0 auto;
    text-align: center;
}

html.resizive .inlineFooter {
    border-top: 1px solid $green;
    padding-top: $font_default;
}

// ----------------------------
// -----  FORM CONTROLS  ------
// ----------------------------
html.resizive {
    .btn {
        display: inline-block;
        padding: $small_spacing $med_spacing;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: $green;
        text-shadow: 0 1px 1px transparentize($white, 0.25);
        background-color: $checkered_bg_2;
        background-image: linear-gradient(to bottom, $white, $checkered_bg);
        background-repeat: repeat-x;
        border: 1px solid $light_gray;
        border-radius: $small_spacing;
        box-shadow: inset 0 1px 0 transparentize($white, 0.8), 0 1px 2px transparentize($black, 0.5);
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        color: $dark_gray;
        background-color: $checkered_bg;
    }

    .btn:active,
    .btn.active {
        background-color: $light_gray;
    }

    .btn:hover,
    .btn:focus {
        color: $green;
        text-decoration: none;
        background-position: 0 -15px;
        transition: background-position 0.1s linear;
    }

    .btn:focus {
        outline: thin dotted $dark_gray;
        outline: $small_spacing auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn.active,
    .btn:active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 2px 4px transparentize($black, 0.85), 0 1px 2px transparentize($black, 0.5);
    }

    .btn.disabled,
    .btn[disabled] {
        cursor: default;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        box-shadow: none;
    }

    .btn > span {
        border-bottom: 2px solid $green;
    }

    .urlEntry {
        width: 320px;
        height: 33px;
        padding: 0 $small_spacing;
        border-radius: $small_spacing;
    }

    .halfHeight {
        width: 100%;
        padding: 2px $med_spacing;
        font-size: 0.75rem;
        line-height: 1.35;
    }

    .succes {
        width: 300px;
        height: 40px;
        padding: $med_spacing;
        color: $white;
        background-color: $dark_blue;
        transition: opacity 0.75s, height 0.75s, padding 0.75s;

        &.invisible {
            transition: opacity 0.75s, height 0.75s, padding 0.75s;
            opacity: 0;
            height: 0;
            padding: 0;
        }
    }

    input.error,
    textarea.error {
        background-color: $error_red_bg;
    }

    .errorText {
        height: 20px;
        padding: 2px 0;
        color: $error_red_text;
        text-align: left;
        font-style: italic;
    }
}


// ----------------------------
// -------  home page  --------
// ----------------------------

html.resizive .page {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: ($font_default * 2) auto;
    background: #f8f8f8;
    color: $dark_gray;
    border-radius: $small_spacing;
    padding: $font_default;
    box-shadow: rgba($blue, .75) 0 0 ($small_spacing/2);
}

html.resizive .controls {
    list-style: none;
}


// ----------------------------
// -----  RESIZING PAGE  ------
// ----------------------------

html.resizive {
    .buttonRow {
        display: inline-block;
    }

    .showWidth,
    .showHeight {
        width: ($med_spacing * 5);
        height: ($med_spacing * 3);
        padding: $small_spacing / 3;
        font-weight: bold;
    }

    .showWidth:focus,
    .showWidth:active,
    .showHeight:focus,
    .showHeight:active {
        border: 2px solid lighten($light_gray, 10%);
        background: $white;
        color: $dark_gray;
        border-radius: $small_spacing;
    }

    .loading {
        display: block;
        margin: 150px auto 0 auto;
    }

    .resizerContainer {
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .resizer {
        overflow: scroll;
        width: 100%;
        height: 100%;

        &.noscroll {
            overflow: hidden;
        }
    }

    .resizing {

        .dataEntry {
            margin: 0;
            text-align: left;
        }

        .frame {
            width: 100%;
            height: 100%;
            border: ($small_spacing/3) solid $light_gray;
            border-top: none;
            overflow: hidden;
        }

        .transitionable {
            transition: width .5s, height .5s;
        }
    }

    .rulers.showRulers {
        position: relative;
        min-height: 100vh;
        padding: 15px 0 0 15px;
        background-image: url(/images/vertical_ruler.png), url(/images/horizontal_ruler.png);
        background-position: 0 15px, 15px 0;
        background-repeat: no-repeat;


        .rulerHorizontal,
        .rulerVertical {
            position: absolute;
            z-index: 2;
        }

        .rulerHorizontal {
            top: 0;
            left: 15px;
            width: 100%;
            height: 15px;
            cursor: col-resize;
        }

        .rulerVertical {
            top: 15px;
            left: 0;
            width: 15px;
            height: 100%;
            cursor: row-resize;
        }
    }

    .stacked {
        display: inline-block;
        width: 38px;
        vertical-align: middle;
    }

    .btnRefresh .text {
        transform: rotate(90deg);
    }

    .deviceList {
        position: absolute;
        z-index: 10;
        width: 310px;
        margin: 0;
        padding: $large_spacing;
        border: 1px solid $light_blue;
        border-radius: $small_spacing;
        list-style: none;
        background-color: $white;
        box-shadow: 1px 1px 2px $dark_blue;
        font-size: $font_small;

        .device {
            cursor: pointer;
            padding: 3px;
        }

        .device + .device {
            border-top: 1px solid $light_gray;
        }

        .name {
            color: $blue;
            pointer-events: none;
        }

        .size {
            font-family: monospace;
            color: $med_gray;
            pointer-events: none;
        }
    }
}
